<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <p *ngIf="game.parent_platforms?.length" class="game-tabs-par">
                Platforms:
                <span *ngFor="let game of game.parent_platforms; let last = last;">
                    {{ game.platform.name }} <span *ngIf="!last">,</span>
                </span>
            </p>
            <p *ngIf="game.publishers?.length" class="game-tabs-par">
                Publishers:
                <span *ngFor="let publisher in game.publishers; let last = last">
                    <span>{{ publisher }} <span *ngIf="!last">,</span></span>
                </span>
            </p>
            <p class="game-tabs-par">
                Website:
                <a href="#" target="_blank" class="game-tabs-link">a link</a>
            </p>
            <div class="game-description">Describe the game</div>
            <p class="game-tabs-votes">
                <span>
                    <mat-icon class="game-votes-up">thumb_up</mat-icon>
                    <span class="game-votes-count">
                        55
                    </span>
                </span>
                <span>
                    <mat-icon class="game-votes-down">thumb_down</mat-icon>
                    <span class="game-votes-count">14</span>
                </span>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots">
            <img 
            src="../../../assets/images/jeshoots-com-eCktzGjC-iU-unsplash.jpg" 
            alt="screenshot" 
            class="game-screenshot">
        </mat-tab>
        <mat-tab label="Trailers">
            <video 
            class="game-trailer"
            controls
            >
                <source src="../../../../../../Videos/FastAPI tutorial.mp4" type="video/mp4">
                Your browser does not support to this video type.
            </video>
        </mat-tab>
    </mat-tab-group>
</div>